
<div class="container">
	<form>
		<h2 class="display-6 text-center">Add New Product</h2>
		<div class="form-group">
			<label>ID: {{ product.id }}</label>
		</div>
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" name="title" [(ngModel)]="product.title" required />
		</div>
		<div class="form-group">
			<label>Image URL</label>
			<input class="form-control" name="picture" [(ngModel)]="product.picture" required/>
		</div>
		<div class="form-group">
			<label>Price</label>
			<input type="number" class="form-control" name="price" [(ngModel)]="product.price" required/>
		</div>
		<div class="form-group">
			<label>Count in stock</label>
			<input type="number" class="form-control" name="countInStock" [(ngModel)]="product.countInStock" required/>
		</div>
		<div class="form-group">
			<button class="btn btn-danger btn-sm" (click)="handleCancelClick()">Cancel</button>
			<button class="btn btn-primary btn-sm" (click)="addProduct.emit(product)">Add</button>
		</div>
	</form>
</div>
