<h2 class="display-6 text-center">Product details</h2>

<div class="container">
	<div *ngIf="selectedPicture" class="row border">
		<img [src]="selectedPicture" alt="" width="230" height="151">
	</div>
	<div *ngIf="selectedTitle" class="row border">
		<div class="col-md-6 text-primary"><strong>Title</strong></div>
		<div class="col-md-6">{{ selectedTitle }}</div>
	</div>
	<div *ngIf="selectedPrice" class="row border">
		<div class="col-md-6 text-primary"><strong>Price</strong></div>
		<div class="col-md-6">{{ selectedPrice }}</div>
	</div>
	<div *ngIf="selectedCountInStock" class="row border">
		<div class="col-md-6 text-primary"><strong>Ccount in stock</strong></div>
		<div class="col-md-6">{{ selectedCountInStock }}</div>
	</div>
</div>