<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>Title</td>
			<td>Price</td>
			<td>Picture</td>
			<td>Count in stock</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of productsArr" 			
			[ngClass]="selected === product.id ? 'selected' : '' "
			(click)="handleRowClick(product.id)"
			class="align-middle">
			<td>
				<span>
					<strong>
						<em>
							{{ product.title }}
						</em>
					</strong>
				</span>
			</td>
			<td>
				{{ product.price }}
			</td>
			<td>
				<img [src]="product.picture" alt="" width="230" height="151">
			</td>
			<td>{{ product.countInStock }}</td>
			<td>
				<button type="button" class="btn btn-danger" (click)="delete($event, product.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
