<div class="container">
	<h1 class="display-4">{{ shopTitle }}</h1>
	<div class="row">
		<app-product 
			[products-arr]="products"
			[selected]="selected"
			(on-delete)="onDelete($event)"
			(on-row-click)="onRowClick($event)"
			class="col-sm-8"
		>
		</app-product>
		<app-product-card class="col-sm-4" 
			[selected-title]="selectedPrice"
			[selected-price]="selectedPrice"
			[selected-picture]="selectedPicture"
			[selected-count-in-stock]="selectedCountInStock"
		>
		
		</app-product-card>

	</div>
	<div class="row">
		<div class="btn-wrapper text-center col-sm-8">
			<button type="button" class="btn btn-primary btn-sm btn-block" (click)="addNewProduct()">Add New Product</button>
		</div>
	</div>
</div>
