<div class="container">
	<h1 class="display-4">{{ shopTitle }}</h1>
	<div class="row">
		<app-product 
			[products-arr]="products"
			[selected]="selected"
			(product-deleted)="productDeleted($event)"
			(row-clicked)="rowClicked($event)"
			(product-edited)="productEdited($event)"
			class="col-sm-8"
		>
		</app-product>
		<div class="col-sm-4">
			<app-product-card *ngIf="productCardState === 'show'"
				[selected-title]="selectedTitle"
				[selected-price]="selectedPrice"
				[selected-picture]="selectedPictureUrl"
				[selected-count-in-stock]="selectedCountInStock"
			>		
			</app-product-card>
			<app-product-create 
				*ngIf="productCardState === ProductCardState.create" 
				(product-canceled)="setProductCardState(ProductCardState.nothing)"
				(product-added)="onCreate($event); setProductCardState(ProductCardState.nothing)"
			></app-product-create>
		</div>
	</div>
	<div class="row">
		<div class="btn-wrapper text-center col-sm-8">
			<button type="button" class="btn btn-primary btn-sm btn-block" (click)="addNewProduct()">Add New Product</button>
		</div>
	</div>
</div>
